h1 {
  float: top;
  text-align: center;
}
ul.numberList{
  list-style-type: none;
  padding-left: 0px;
}
#nameError{
  font-size: 10px;
  color: red;
}
#numberError{
  font-size: 10px;
  color: red;
}
.firstPage{
  foat: bottom;
  width: 100%;
}
.secondPage{
  float: top;
  width: 50%;;
}

.roboTalk{
  padding: none;
  border: 1px solid gray;
  border-radius: 100px;
  text-align: center;
}
#newQuote{
  display: none;
}
#result {
  height: 100%;
  width: 45%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-y: scroll;
  margin-top: 50px;
  text-align: center;
  float: right;
  display: none;
}
